@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: hsl(0, 0%, 100%);
  --foreground: hsl(0, 0%, 10%);
  --primary: hsl(218, 79%, 55%);
  --primary-light: hsl(218, 79%, 66%);
  --primary-dark: hsl(218, 79%, 40%);
  --success: hsl(134, 61%, 41%);
  --success-light: hsl(134, 70%, 80%);
  --success-dark: hsl(134, 61%, 25%);
  --warning: hsl(36, 94%, 48%);
  --warning-light: hsl(36, 94%, 75%);
  --warning-dark: hsl(36, 94%, 35%);
  --shade: hsl(0, 0%, 90%);
  --shade-light: hsl(0, 0%, 95%);
  --shade-dark: hsl(0, 0%, 25%);
  --error: hsl(0, 78%, 53%);
  --error-light: hsl(0, 78%, 75%);
  --error-dark: hsl(0, 78%, 35%);
}

.dark {
  --background: hsl(218, 28%, 10%);
  --foreground: hsl(0, 0%, 93%);
  --shade: hsl(218, 22%, 30%);
  --shade-light: hsl(218, 22%, 40%);
  --shade-dark: hsl(0, 0%, 97%);
  --primary: hsl(218, 79%, 66%);
  --primary-light: hsl(218, 79%, 77%);
  --primary-dark: hsl(218, 79%, 55%);
  --success: hsl(134, 61%, 41%);
  --success-light: hsl(134, 70%, 65%);
  --success-dark: hsl(134, 61%, 30%);
  --warning: hsl(36, 94%, 50%);
  --warning-light: hsl(36, 94%, 70%);
  --warning-dark: hsl(36, 94%, 45%);
  --error: hsl(0, 78%, 53%);
  --error-light: hsl(0, 78%, 65%);
  --error-dark: hsl(0, 78%, 40%);
}

body {
  color: var(--foreground);
  background: var(--background);
  border: var(--shade);
}
