@import 'tailwindcss';

@source './**/*.{js,ts,jsx,tsx,mdx}';

@variant dark (&:is(.dark *));

@theme {
  --font-sans: var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-family-mono: var(--font-geist-mono), ui-monospace, SFMono-Regular,
    Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;

  --color-primary: light-dark(var(--color-blue-500), var(--color-blue-600));
  --color-success: light-dark(
    var(--color-emerald-500),
    var(--color-emerald-600)
  );
  --color-warning: light-dark(var(--color-orange-500), var(--color-orange-600));
  --color-error: light-dark(var(--color-red-500), var(--color-red-600));

  --color-background: light-dark(var(--color-white), var(--color-slate-900));
  --color-foreground: light-dark(var(--color-slate-900), var(--color-white));
  --color-background-card: light-dark(
    var(--color-gray-50),
    var(--color-slate-800)
  );

  --color-background-footer: light-dark(
    var(--color-gray-100),
    var(--color-slate-950)
  );
  --color-foreground-footer: light-dark(
    var(--color-slate-900),
    var(--color-slate-300)
  );

  --translate-box-shadow-x: 4px;
  --translate-box-shadow-y: 4px;
  --translate-reverse-box-shadow-x: -4px;
  --translate-reverse-box-shadow-y: -4px;
}

@layer base {
  body {
    color: var(--color-foreground);
    background-color: var(--color-background);
  }
}
